*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 1300px;
}

/*header-main  */
#intestazione{
    color: palevioletred;
    text-align: center;
}

#paragrafo{
    margin-top: 50px;
}
/* fine header-main  */

.clearfix{
    content: "";
    display: table;
    clear: both;
}

section{
    padding: 20px;
}
.container{
    width: 100%;
}

.float{
    height: 150px;
    width: calc((100% / 3) - 10px);
    float: left;
    margin-right: 15px;

}

.left{
    float: left;
}

.center{
}

.right{
    margin-right: 0;
}

#img{
    height: 150px;
    width: 150;
    float: left;
    background-color: darkorchid;
    background-size: contain;

}

#testo-img{
    float: left;
    height: 150px;
    width: calc(100% / 2);    
    background-color: black;
    color: white;
    padding-top: 10px;
}

p{
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    color:lightblue;
}
